@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
  }
.navlinks{
    font-size: larger;
    font-weight: bolder;
}
.navlists{
    margin-top: 20px;
}
.navlists:hover{
    color: rgb(87, 86, 85);
}
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F4F1F8;
    border: 2px solid rgb(24, 24, 15);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
.banner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#name1{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
#what1{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 600px){
    .navlists{
        margin-top: 10px;
    }
    .banner{
        display: block;
        margin-top: -50px;
    }
    #name1{
        margin-top: 10px;
        font-size: 1.3rem;
        font-weight: 900;
    }
    #what1{
        
        margin-top: -10px;
        font-size: 1rem;
        font-weight: 700;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1100px){
    .navlists{
        margin-top: 10px;
    }
    .banner{
        display: block;
        margin-top: -50px;
    }
    #name{
        font-size: 1.5rem;
        font-weight: 900;
    }
    #what{
        font-size: 1rem;
        font-weight: 700;
    }
}
.aboutbanner{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.aboutsec{
    padding: 10px;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
}
.bannerimg1{
    margin-top: 50px;
}
.aboutbanner1{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
#brief{
    font-size: x-large;
}
@media only screen and (max-width: 600px){
    .aboutbanner{
        display: block;
        margin-top: -10px;
    }
    .aboutbanner1{
        margin-top: -25px;
    }
    #name{
        font-size: 2rem;
    }
    #what{
        font-size: 1.5rem;
    }
    #brief{
        font-size: 1rem;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1100px){
    .aboutbanner{
        margin-top: -20px;
    }
    #brief{
        font-size: 1rem;
    }
    #name{
        font-size: 2rem;
    }
}
.contactbanner{
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.contactbanner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
@media only screen and (max-width: 600px){
    .contactbanner{
        display: block;
    }
    .contactdetails{
        font-size: medium;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1100px){
    .contactdetails{
        font-size: 1.5rem;
    }
    .cimg{
        margin-top: 50px;
    }
    .contactbanner{
        margin-top: -20px;
    }
}
